{{template "header" .}}

<div class="row pt-1">
    <div class="col-sm-12 m-0">

        <p>The MCC combined with the MNC code are used in mobile networks (2G/3G/4G etc.) to indentify 
            a mobile network and the operator of that network.</p>
        <p><a href="https://www.itu.int/">ITU - The International Telecommunication Union</a> is administering and allocating 
        the MCC∕MNC codes. The MCC/MNC mappings to mobile network operators on this site is extracted from the ITU service publications and
        updates</p>
        <dl>
                <dt>MCC</dt>
                <dd>Mobile Country Code. 3 digits.</dd>
             
                <dt>MNC</dt>
                <dd>Mobile Country Code. 2 or 3 digits. Digits can have leading zeroes.</dd>
            </dl>
        <p><small>This site is not affilated with ITU or any other organizations.</small></p>
    </div>
</div>

{{template "footer" .}}