<div class="modal" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
        </div>
        <form id="editForm" method="POST">
            <div class="modal-body">
                <label for="inputCountry">Country</label> 
                <input type="text" name="inputCountry" id="inputCountry" value="{{ .editentry.E212Country.Name }}" class="form-control" autocomplete="off" required autofocus>
                <label for="inputOperator">Operator</label>
                <input type="text" name="inputOperator" id="inputOperator" value="{{ .editentry.Operator }}"class="form-control" autocomplete="off" required>
                <label for="inputMCC">MCC</label>
                <input type="text" name="inputMCC" id="inputMCC" value="{{ .editentry.Code.Mcc }}" class="form-control" autocomplete="off" required>
                <label for="inputMNC">MNC</label>
                <input type="text" name="inputMNC" id="inputMNC" value="{{ .editentry.Code.Mnc }}" class="form-control" autocomplete="off" required>
                <input type="hidden" name="inputID" id="inputID" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form> 
        </div>
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirm delete</h5>
        </div>
        <form method="POST" action="/e212delete">
            <div class="modal-body">
            <input type="hidden" name="inputID" id="inputIDDel" class="form-control" value="0" required>
            Really delete entry ?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes, delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form> 
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var type = button.data('xtype')
        console.log(type)
        var modal = $(this)
        
        $('#editForm').attr('action', '/e212' + type)
        modal.find('.modal-title').text(type)
        var id = 0;
        var country = ""; 
        var operator = ""
        var mcc = "";
        var mnc = "";

        if (type === "update") {
            
            country = button.closest("tr").children("td:nth-child(3)").text();
            operator = button.closest("tr").children("td:nth-child(4)").text();
            mccmnc = button.closest("tr").children("td:nth-child(5)").text();
            mcc = mccmnc.split(' ')[0];
            mnc = mccmnc.split(' ')[1];

    
            id = button.closest("tr").children("td:nth-child(2)").text();
            $('#inputCountry').val(country);
            $('#inputOperator').val(operator);
            $('#inputMCC').val(mcc);
            $('#inputMNC').val(mnc);
        }
        $('#inputID').val(id);

    });

    $('#editModal').on('shown.bs.modal', function (event) {
        $('#inputCountry').focus();
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.closest("tr").children("td:nth-child(2)").text();

        $('#inputIDDel').val(id);
    });
});
</script>