{{template "header" .}}


        <div class="row pt-1">
            <div class="col-sm-3 m-0">
                <input class="col-sm search" autocomplete="off" type="search" placeholder="Filter">
            </div>
            <div class="col-sm-7 m-0">
                    <h2 class="m-0">E.212 MCC/MNC Entries</h2>
            </div>
            <div class="col-sm-2 m-0">
                <a href="/csvexport"><button title="Export table to .csv file" class="btn float-right btn-dark  btn-sm">Export CSV</button></a>
            </div>
        </div>
        {{ if $.user }}
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="table-edit btn btn-dark  btn-sm" data-toggle="modal" data-target="#editModal" data-xtype="add">Add new entry</button>
            </div>
        </div>
        {{end}}
        <div class="row">
            <div class="col-sm-12 ">
                <div id="myGrid" style="height: 600px; width:100%;" class="ag-theme-balham"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                    <span class="badge badge-sm badge-secondary">(v. {{.appVersion}})</span> <span class="badge badge-secondary">by Nils Olav Selåsdal</span>
            </div>
        </div>
        {{ if .user }}

        {{template "edit" .}}

        {{end}}
        <script>

            function actionCellRenderer(params) {
                let eGui = document.createElement("div");

                let editingCells = params.api.getEditingCells();
                // checks if the rowIndex matches in at least one of the editing cells
                let isCurrentRowEditing = editingCells.some((cell) => {
                    return cell.rowIndex === params.node.rowIndex;
                });

                if (isCurrentRowEditing) {
                    eGui.innerHTML = `
                        <button
                        class="action-button update"
                        data-action="update">
                            update
                        </button>
                        <button
                        class="action-button cancel"
                        data-action="cancel">
                            cancel
                        </button>
                        `;
                } else {
                    eGui.innerHTML = `
                        <button
                        class="action-button edit"
                        data-action="edit">
                            edit
                        </button>
                        <button
                        class="action-button delete"
                        data-action="delete">
                            delete
                        </button>
                        `;
                }

                return eGui;
            }


            $(document).ready(function() {
                const columnDefs = [
                    { colId: "ID", field: "ID", sortable: true, hide: true, resizable: true },
                    { field: "country", width: 220, sortable: true, filter: true, resizable: true, editable: true },
                    { field: "operator", width: 330, sortable: true, filter: true, resizable: true, editable: true },
                    { field: "code.mcc", width: 75, headerName: "MCC", sortable: true, filter: true, resizable: true, editable: true },
                    { field: "code.mnc", width: 75, headerName: "MNC", sortable: true, filter: true, resizable: true, editable: true },
                    { headerName: "action", minWidth: 150, cellRenderer: actionCellRenderer, editable: false, colId: "action" },
                ];


                const gridOptions = {
                    columnDefs: columnDefs,

                    enableCellTextSelection: true,
                    onModelUpdated : function () {
                        this.api.sizeColumnsToFit();
                    },
                    suppressClickEdit: true,
                    onCellClicked(params) {
                        // Handle click event for action cells
                        if (params.column.colId === "action" && params.event.target.dataset.action) {
                            let action = params.event.target.dataset.action;

                            if (action === "edit") {
                                params.api.startEditingCell({
                                rowIndex: params.node.rowIndex,
                                // gets the first columnKey
                                colKey: params.columnApi.getDisplayedCenterColumns()[0].colId
                                });
                            }

                            if (action === "delete") {
                                params.api.applyTransaction({
                                remove: [params.node.data]
                                });
                            }

                            if (action === "update") {
                                params.api.stopEditing(false);
                            }

                            if (action === "cancel") {
                                params.api.stopEditing(true);
                            }
                        }
                 },

                onRowEditingStarted: (params) => {
                    params.api.refreshCells({
                    columns: ["action"],
                    rowNodes: [params.node],
                    force: true
                    });
                },
                onRowEditingStopped: (params) => {
                    params.api.refreshCells({
                    columns: ["action"],
                    rowNodes: [params.node],
                    force: true
                    });
                },
                editType: "fullRow",
            };


                let  myGrid = $('#myGrid').get(0)

                agGrid.simpleHttpRequest({url: 'e212api.v1/e212/'})
                .then(data => {
                    gridOptions.api.setRowData(data);
                });

                let grid = new agGrid.Grid(myGrid, gridOptions);
                $(".search").keyup(function () {
                    var searchTerm = $(".search").val();
                    gridOptions.api.setQuickFilter(searchTerm);

                });
              });
    </script>

{{template "footer" .}}
