{{template "header" .}}


        <div class="row pt-1">
            <div class="col-sm-3 m-0">
                <input class="col-sm search" autocomplete="off" type="search" placeholder="Filter">
            </div>
            <div class="col-sm-7 m-0">
                    <h2 class="m-0">E.212 MCC/MNC Entries</h2>
            </div>
            <div class="col-sm-2 m-0">
                <a href="/csvexport"><button title="Export table to .csv file" class="btn float-right btn-dark  btn-sm">Export CSV</button></a>
            </div>
        </div>
        {{ if $.user }}
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="table-edit btn btn-dark  btn-sm" data-toggle="modal" data-target="#editModal" data-xtype="add">Add new entry</button>
            </div>
        </div>
        {{end}}
        <div class="row">
            <div class="col-sm-12 ">
                <div id="myGrid" style="height: 600px; width:100%;" class="ag-theme-balham"></div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                    <span class="badge badge-sm badge-secondary">(v. {{.appVersion}})</span> <span class="badge badge-secondary">by Nils Olav Selåsdal</span>
            </div>
        </div>
        {{ if .user }}

        {{template "edit" .}}

        {{end}}
        <script>
            $(document).ready(function() {
            const columnDefs = [
                { colId: "ID", field: "ID",   sortable: true,hide: true,resizable:true},
                { field: "country",    width: 220,sortable: true, filter: true,resizable:true},
                { field: "operator" ,  width: 330,sortable: true,filter: true,resizable:true},
                { field: "code.mcc" ,  width: 75,headerName:"MCC", sortable: true, filter: true,resizable:true},
                { field: "code.mnc" ,  width: 75,headerName:"MNC", sortable: true, filter: true,resizable:true}
            ];


                const gridOptions = {
                    columnDefs: columnDefs,
                    filterParams: {
                      suppressMiniFilter: false,
                    },
                    enableCellTextSelection: true,
                    onModelUpdated : function () {
                        this.api.sizeColumnsToFit();
                    }
                };
                let  myGrid = $('#myGrid').get(0)

                agGrid.simpleHttpRequest({url: 'e212api.v1/e212/'})
                .then(data => {
                    gridOptions.api.setRowData(data);
                });

                let grid = new agGrid.Grid(myGrid, gridOptions);
                $(".search").keyup(function () {
                    var searchTerm = $(".search").val();
                    gridOptions.api.setQuickFilter(searchTerm);

                });
              });
    </script>

{{template "footer" .}}
